# build output
**build/
**cmake-build**
**.o

# pdf and documentation output
**doc/masterdoc.pdf
**-eps-converted-to.pdf
html/

# (py)tests and test data
**.pyc
**/.pytest_cache/
tdms/tests/system/data
**.mat

# text editor files
.idea/
.vscode/

# MacOS
**.DS_store

