# build output
build/
**build/
**cmake-build**
**.o
compile_commands.json

# pdf and documentation output
**doc/masterdoc.pdf
**-eps-converted-to.pdf
html/

# (py)tests and test data
**.pyc
**/.pytest_cache/
tdms/tests/system/data/*.zip
**.mat
tdms/tests/unit/benchmark_scripts/unit_test_data/**

# text editor files
.idea/
.vscode/
.cache/

# MacOS
**.DS_store
